---
layout: layouts/default.njk
title: "Players"
---

<h1>Players List</h1>
<ul>
  {% for player in collections.players %}
    <li>
      <a href="{{ player.url }}">{{ player.title }}</a>
    </li>
  {% endfor %}
</ul>