---
title: "Players"
layout: layouts/pagination.njk
pagination:
  data: collections.players
  size: 2  # Number of players per page
  alias: player
permalink: "/player/{{ pagination.pageNumber }}/index.html"
---
<h1>Players List</h1>
<ul>
  {% for player in pagination.items %}
    <li>
      <a href="{{ player.url }}">
        {{ player.title }}
      </a>
    </li>
  {% endfor %}
</ul>

<!-- Pagination -->
<div class="pagination">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="pagination-link">Previous</a>
  {% else %}
    <span class="pagination-disabled">Previous</span>
  {% endif %}

  <!-- Page Number Links -->
  {% for page in pagination.pages %}
    <a href="{{ page.href }}" class="pagination-link{% if page.active %} active{% endif %}">
      {{ page.number }}
    </a>
  {% endfor %}

  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="pagination-link">Next</a>
  {% else %}
    <span class="pagination-disabled">Next</span>
  {% endif %}
</div>

