---
title: "{{ player.title }}"
layout: layouts/default.njk
permalink: "/player/{{ player.slug }}/index.html"
---

<div class="player-details">
  <h1>{{ player.title }}</h1>

  {% if player.image %}
    <img src="{{ player.image}}" alt="{{ player.title }}" class="player-image">
  {% endif %}

  <div class="player-description">
    {{ player.description | safe }}
  </div>

  <a href="/players/">Back to Players List</a>
</div>
