---
title: "Players"
layout: layouts/pagination.njk
pagination:
  data: collections.players
  size: 2  # Number of players per page
  alias: player
permalink: "/player/{{ pagination.pageNumber }}/index.html"
---
<h1>Players List</h1>
<ul>
  {% for player in pagination.items %}
    <li>
      <a href="{{ player.url }}">
        {{ player.title }}
      </a>
    </li>
  {% endfor %}
</ul>

<!-- Pagination -->
<div class="pagination">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Previous</a>
  {% endif %}
  |
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next</a>
  {% endif %}
</div>
