---
title: "Players"
layout: layouts/pagination.njk
pagination:
  data: collections.players
  size: 2
  alias: player
permalink: "/players/{{ pagination.pageNumber }}/index.html"
---
<h1>Players List</h1>
<ul>
  {% for players in pagination.items %}
    <li>
      <a href="{{ player.url }}">
        {{ player.title }}
      </a>
    </li>
  {% endfor %}
</ul>
